<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Навигация по разделам</h1>

    <nav>
        <ul>
            <li><a href="{% url 'book_list' %}">📚 Книжный магазин</a></li>
            <li><a href="{% url 'horse_tours' %}">🐴 Конные туры</a></li>
            <li><a href="{% url 'all_categories' %}">📦 Категории магазина</a></li>
            <li><a href="{% url 'basket_list' %}">🛒 Корзина покупок</a></li>
        </ul>
    </nav>
</body>
</html>